body {
    text-align: center;
}

#container, #AZcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#incrementor, #alphaincrementor {
    width: 100px;
    height: 50px;
    text-align: center;
}

#add, #alphaadd {
    width: 50px;
    height: 50px;
    font-weight: bolder;
}

#minus, #alphaminus {
    width: 50px;
    height: 50px;
    font-weight: bolder;
}
button {
    color: gray;
    background-color: white;
}
button:hover {
    filter: invert(1);
}