body {
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#incrementor {
    width: 50px;
    text-align: center;
}